*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    }
    
    .Page
    {
    display:flexbox;
    width:100%;
    background-color:gray;
    }
    
    
    a.icon 
    {
      display: none;
    }
    
    
    .active
    {
      display:inline-block;
      padding:8px 0 15px 10px;
      margin-left:auto;
      color: white;
      font-size:22px;
    }
    
    #myLinks
    {
      display:inline-block;
      padding-top:31px;
      padding-left:15px;   
      font-size:18px;
    }
    
    .topnav
    {
      clear: both;
    }
    
    li
    {
    display:inline-block;
    padding:16px;
    text-align:left;
    color:white;
    font-size:20px;
    }
    
    a
    {
    text-decoration:none;
    color:white;
    padding:20px;
    }
    
    a:hover
    {
    color:black;
    font-weight:bold;
    }
    
    .Contener1
    {
    display:flex;
    width:100%;
    position:relative;
    }
    
    .mySlides1
    {
    display: none;
    }
    
    img 
    {
    vertical-align: middle;
    }
    
        
    #One{
    position:relative;
    margin:auto;
    width:70%;
    height:500px;
    }
    
    .mySlides1 > img
    {
    width:100%; 
    height:500px;
    }
    
    .prev, .next 
    {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
    
    .next
    {
    right:0;
    border-radius: 3px 0 0 3px;
    }
    
    .prev:hover, .next:hover 
    {
    background-color:whitesmoke;
    color:black;
    }
    
    #Tow
    {
    background-color:white;
    width:40%;
    height:500px;
    text-align:left;
    padding:50px;
    }
    
    #Shop
    {
    text-decoration:none;
    color:black;
    letter-spacing:10px;
    padding:0.5px;
    }
    
    .Contener2
    {
    display:flex;
    width:100%;
    }
        
    #Three
    {
    width:30%;
    height:300px;
    background-image:url(F7.jpeg);
    background-size:cover;
    background-position:center;
    }
        
    #Four
    {
    background-color:white;
    width:40%;
    height:300px;
    text-align:left;
    padding:50px;
    }
        
    #Five
    {
    width:41%;
    height:300px;
    background-image:url(F6.jpg);
    background-size:cover;
    background-position:center;
    }
    
    @media screen and (max-width:1025px) 
    {
    
    .Page
    {
    display:block;
    width:100%;
    }
    
      
      .topnav 
      {
          overflow:hidden;  
        background-color:rgb(85,83,83);
        position: relative;
      }
      
      .topnav #myLinks 
      {
        display: none;
        margin-right:-1%;
        padding:0.5px;
      }
      
      .topnav a 
      {
        color: white;
        padding: 23px 23px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon 
      {
        background:rgb(85,83,83);
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        font-size:23px;
      }
      
      .topnav a:hover 
      {
        background-color: #ddd;
        color: black;
      }
      
      .active 
      {
        color: white;
        margin:auto;
        margin-left:40%;
        
      }
    
    
    .Contener1
    {
    display:block;
    width:100%;
    }
    
    #One
    {
    width:100%;
    }
    
    #Tow
    {
    background-color:white;
    width:100%;
    height:700px;
    text-align:left;
    padding:30px;
    }
    
    #Tow>h1
    {
    padding-top:20px;
    }
    
    .Contener2
    {
    display:block;
    width:100%;
    }
    
    #Three
    {
    width:100%;
    height:400px;
    background-image:url(F7.jpeg);
    background-size:cover;
    background-position:center;
    }
    
    #Four
    {
    background-color:white;
    width:100%;
    height:450px;
    text-align:left;
    padding:30px;
    }
    
    #Five
    {
    width:100%;
    height:400px;
    background-image:url(F6.jpg);
    background-size:cover;
    background-position:center;
    }
    
    
    }